<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @expenses.each do |e| %>
    <tr>
      <td scope="row"><%= e.amount %></td>
      <td><%= e.category.name %></td>
      <td><%= e.description %></td>
    </tr>
  <% end %>

  </tbody>
</table>

